# Python
venv/
__pycache__/
*.pyc

# Environment
.env
.env.local

# Node
node_modules/
.next/

# IDE
.vscode/

# Testing
.pytest_cache/
.coverage
mtga-cards-database-generator/node_modules
mtga-cards-database-generator/dist
mtga-cards-database-generator/external
mtga-cards-database-generator/output
